@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700;800;900&display=swap');



.card-container{
    display: flex;
    flex-direction: column;
    margin: 1em;
    cursor: pointer;
    background-color: white;
    font-family: Inter;
    font-size: 0.625em;
    transition: 0.05s;
    border: 1.5px solid rgb(255, 255, 255);
    transition: 0.25s;
    border-radius: 5px;

}

.card-container:hover{
    border: 1.5px solid rgba(44, 44, 44, 0.75);
    border-radius: 5px;
}

.ActiveCard{
    border: 1.5px solid rgba(44, 44, 44, 0.75);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 1em;
    cursor: pointer;
    background-color: white;
    font-family: Inter;
    font-size: 0.625em;
    }



.top-part{
    height: 4em;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.top-part-content{
    margin: 0 0.5em 0 0.5em;
    text-transform: capitalize;
}

.bot-part{
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.bot-part-content{
    margin: 0.5em 1em 0 1em;
}

.bot-part-footer{
    margin: 0 1em 1em 1em;
}

.total_price{                                   
    font-family: Inter;
    line-height: 0.5em;
    font-weight: 700;
    font-size: 1.3em;
}

@media screen and (max-width: 480px){

    .card-container{
        display: flex;
        flex-direction: column;
        margin: 2em;
        cursor: pointer;
        background-color: white;
        font-family: Inter;
        font-size: 0.625em;
        transition: none;
    }

    .top-part{
        height: 6em;
        width: 25em;
        display: flex;
        align-items: center;
        background-color: rgb(255, 255, 255);
    }

    
    .ActiveCard{
        transform: none;
        border-left: 1.5px solid rgba(44, 44, 44, 0.75);
        display: flex;
        flex-direction: column;
        margin: 1em;
        cursor: pointer;
        background-color: white;
        font-family: Inter;
        font-size: 0.625em;
        }
    
}