.RHSHeaders{
    font-family: Cairo;
    line-height: 1em;
    color: #575d63;
    width: 90%;
    margin-top: 1.2em;
    font-size: 0.85em;
    font-weight: bold;
    display: flex;
}

.hideHeaders{
    display: none;
}

.ItemDescriptionHeader{
    margin-left: 1em;
}


.QuantityPriceAmountContainer{
    margin-left: auto;
    display: flex;
    width: 25%;
    justify-content: space-between;
}

.QuantityHeader{

}

.ItemPriceHeader{

}

.ItemsTotalPriceHeader{

}


@media screen and (max-width: 480px){
    .RHSHeaders{
        padding-top: 0.5em;
        padding-bottom: 1em;
        padding-right: 0.5em;
    }

    .QuantityPriceAmountContainer{
        margin-left: auto;
        display: flex;
        width: 30%;
        justify-content: space-between;
    }

    .QuantityHeader{
        padding: 0 0.8em 0 0;
    }
    .ItemPriceHeader{
        padding: 0 0.8em 0 0;
    }
    .ItemsTotalPriceHeader{
        padding: 0 0.8em 0 0;
    }
}
