.PaymentSettingsContainer{
    font-family: Cairo;
    line-height: 1em;
    padding: 1em 2em;
    right: 0;
    position: absolute;
    width: 35%;
    height: 100vh;
    color: black;
    border-left: solid 1px rgba(219, 219, 219, 0.753);
    background-color: white;
    transition: transform 0.3s ease-in-out;
    transform-origin: right;
    border-radius: 2em 0 0 5em;
    z-index: 2;
}

.OnboardingOrPaymentMethodButtonsContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 2em;
    color: rgba(0, 0, 0, 0.486);
    cursor: default;
    margin-bottom: 1em;
}

.PaymentSettingTab{
    cursor: pointer;
}

.PaymentMethodContainer{
    display: flex;
    flex-direction: column;
    height: 91%;
    width: 100%;
}

.PaymentSettingsHeader{
    text-align: center;
    width: 80%;
    font-size: 1.2em;
    font-weight: bold;
    color: #000000;
    line-height: 1.5em;
    margin-bottom: 1em;
    margin: 1em auto;
}

.AddNewCardHeader{
    text-align: center;
    width: 80%;
    font-size: 1.2em;
    font-weight: bold;
    width: 25%;
    padding: 0.15em 0;
    border-bottom: #0275d8 2px solid;
    color: #0275d8;
    line-height: 1.5em;
    margin-bottom: 1em;
    margin: auto auto 2em auto;
}


.PaymentSettingsImg{
    width: 83.2%;
    justify-self: center;
    align-self: center;
}

.StripeOnboardingImg{
    width: 90%;
    justify-self: center;
    align-self: center;
    margin-top: 6em;
    
}

.StripeOnboardingImg img{
    width: 100%;
}

.PaymentSettingsImg img{
    width: 100%;
}

.PaymentSettingsForm{
    display: flex;
    flex-direction: column;
    height: 92%;
}

.PaymentSettingsInputContainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.PaymentSettingsDateContainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.PaymentSettingsDateInput{
    border-radius: 5px;
    padding: 0.5em;
    border: gray solid 1px;
}



.CardInputContainer{
    display: flex;
    flex-direction: column;
    font-size: 1em;
    border: solid 1px gray;
    padding: 0.5em;
    border-radius: 5px;
    margin-bottom: 1em;
    width: 80%;
    margin: 1em auto;
}


.CardDetailsLabel{
    margin-bottom: 0.5em;
}

.SubmitAndDiscardContainer{
    display: flex;
    gap: 0.5em;
    width: 100%;
    justify-content: center;
    margin-bottom: 1em;
}

.OnBoardingButton{
    text-decoration: none;
    font-size: 1em;
    border-radius: 5px;
    color: white;
    background-color: #0275d8;
    border: none;
    display: inline-block;
    padding: 1em 1.5em;
    cursor: pointer;
}

.SubmitPaymentButton:hover{
    background-color: #001c35;
}

.optional{
    color: rgba(0, 158, 34, 0.705);
    font-size: 0.7em;
    margin-left: 0.5em;
    font-weight: bold;
}

.SelectInput{
    margin-top: 0.5em;
    padding: 0.5em;
    border: solid 1px gray;
    border-radius: 5px;
}


@media screen and (max-width:480px){
    .PaymentSettingsContainer{
        right: 0;
        position: absolute;
        width: 88%;
        height: 85vh;
        margin-top: 7vh;
        color: black;
        border-left: solid 1px rgba(219, 219, 219, 0.753);
        background-color: white;
        transition: transform 0.5s ease-out;
        transform-origin: right;
        border-radius: 1em 1em 0 0;
        z-index: 2;
        font-size: 2.1em;
    }
}

