.cardsContainer{
    width: 25%;
    background-color: rgb(240, 240, 240);
    overflow:auto;
    height: 88vh;
    transition: 500ms;
    padding-right: 2.2em;
}

@media screen and (max-width: 480px){
    .cardsContainer{
        position: absolute;
        left: 0;
        width: 100%;
        height: 73vh;
        background-color: rgb(245, 245, 245);
        overflow:auto;
        font-size: 2.5em;
        padding: 0 0 0 0;
    }

    .MobileListView{
    }

    .MobileListHidden{
    }
}
