.cardsContainer{
    width: 25%;
    background-color: rgb(245, 245, 245);
    overflow:auto;
    height: 84.5vh;
    transition: 300ms;
}

@media screen and (max-width: 480px){
    .cardsContainer{
        width: 100%;
        height: 73vh;
        background-color: rgb(245, 245, 245);
        overflow:auto;
        font-size: 2.5em;
        padding: 0 0 0 0;
    }

    .MobileListView{
        width: 0;
    }

    .MobileListHidden{
        width: 100%;
    }
}
