.PGWItemizedCard{
    border: solid 1px rgba(172, 172, 172, 0.582);
    width: 60%;
    height: 95vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.PGWDItemizedetails{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 1em;
    margin-left: 1em;
    margin-bottom: 1em;
}

.PGWItemListHeaders{
    font-family: Cairo;
    line-height: 1em;
    color: #575d63;
    width: 91.5%;
    margin-top: 1.2em;
    font-size: 0.85em;
    font-weight: bold;
    display: flex;
}




.PGWItemizedButton{
    margin-top: auto;
    color: white;
    background-color: black;
    width: 90%;
    font-size: 1.5em;
    padding: 0.8em;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 1em;
}

.PGWPriceContainer{
    font-family: Cairo;
    display: flex;
    width: 89.5%;
    border-top: 0.5px solid #343a403d;
    line-height: 1em;
    font-size: 1.1em;
    margin-left: 0.6em;
    margin-top: auto;
}
.PGWTotalPriceSection{
    margin: 1.75em auto 1em auto;
    width: 30%;
    justify-content: center;
    align-self: flex-end;
    font-size: 1em;
    font-weight: bold;
    display: flex;
}

.PGWTotalAmountWord{
    margin-right: 0.5em;
}




@media screen and (min-width: 0) and (max-width: 480px) and (max-aspect-ratio: 4 / 3) {
    html body {
        font-size: 1.5vw;
    }
  }
  
  @media screen and (max-width: 480px) and (orientation: landscape) {
    html body {
        font-size: 1.5vw;
    }
  } 
  
  
  @media screen and (min-width: 481px) and (max-width: 840px) and (max-aspect-ratio: 4 / 3) {
    html body {
        font-size: 1vw;
    }
  }
  
  @media screen and (min-width: 841px) and (max-width: 1280px) and (orientation: landscape) {
    html body {
        font-size: .85vw;
    }
  
  }


  @media screen and (min-width: 1600px) {
      html body {
          font-size: 1vw;
      }
  }





